#login-container {
  margin: 0;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  background-color: rgba(216, 213, 247, 0.822);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.623),
    0 6px 10px 0 rgba(0, 0, 0, 0.507);
  padding: 10%;
}

#login-form input {
  display: block;
  border-radius: 5px;
  border: none;
  height: 5vh;
  margin: 2%;
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem;
  outline-color: rgba(137, 43, 226, 0.13);
}

#submit-btn:hover {
  background-color: rgba(36, 25, 133, 0.808);
}
